@import url('./variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-font-main);
  background-color: var(--color-background);
  font-family: main;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.darkMode {
  background-color: var(--color-dm-background);
}

.lightMode {
}
