@import url('./variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-font-main);
  background-color: var(--color-background);
  font-family: main;
}

main {
  & h1,
  & p {
    padding: var(--padding-main);
  }
  & h1 {
    font-size: 1.5rem;
  }
  & p {
    font-size: 1.2rem;
  }
  .container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img {
  max-width: 100%;
}

.darkMode {
  background-color: var(--color-dm-background);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}