@import url('./variables.css');

.darkMode {
  background-color: var(--color-dm-background);
}

h1 {
  max-width: 1000px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 2rem;
  border-top: 1px solid var(--color-font-main);
  border-bottom: 1px solid var(--color-font-main);
}

.classListContainer {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    div:nth-child(odd) {
      background-color: rgb(207, 207, 207);
    }
  }
}

.pagination {
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 4rem;
  button {
    background: #00000000;
  }
  button:disabled {
    color: rgba(255, 255, 255, 0);
  }
}

@media screen and (min-width: 700px) {
  .classListContainer {
    max-width: 1000px;
    margin: 0 auto;
    .grid {
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
      gap: 1.5rem 0.5rem;
      div:nth-child(odd) {
        background-color: initial;
      }
    }
  }
}
