@import url('./variables.css');

.container {
  display: grid;
  grid-template-columns: 120px 1fr auto;
  max-height: 120px;
  .nameBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-wrap: wrap;
    font-weight: bold;
    p {
      color: rgb(119, 119, 68);
    }
  }
  button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.7rem;
    padding: 0 2rem;
  }
}
picture {
  position: relative;
  height: 120px;
  width: 120px;
  overflow: hidden;
  img {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 700px) {
  .container:hover {
    cursor: pointer;
    transform: scale(1.09);
    .nameBox {
      bottom: 30px;
      border-bottom: 2px solid var(--color-font-main);
      border-top: 2px solid var(--color-font-main);
    }
    button {
      height: 30px;
    }
  }
  .container {
    position: relative;
    grid-template-columns: 1fr;
    max-height: max-content;
    transition: .5s;
    picture {
      position: static;
      height: auto;
      width: max-content;
    }
    .nameBox {
      transition: .5s;
      position: absolute;
      height: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      padding-bottom: 0;
    }
    button {
      padding-top: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      overflow: hidden;
      svg {
        transition: .5s;
      }
      &:hover svg {
        transform: translateX(1rem);
      }
    }
    .nameBox,
    button {
      background-color: #ffffffbb;
    }
    .nameBox.darkMode,
    button.darkMode {
      background-color: #000000;
    }
  }
}
