@import url('./variables.css');

.darkMode {
  background-color: var(--color-dm-background);
}

.lightMode {
 & input {
    background-color: rgb(245, 238, 206);
  }
}

button {
  border: none;
  font-family: nav, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  padding: .3rem;
  color: var(--color-font-main);
 }

h1 {
  text-align: center;
}

section {
    min-height: 100dvh;
}

form {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin: 0 auto;
  width: 400px;
  font-size: 1.3rem;
  padding: 1rem;
  & input {
    border: none;
    padding: .3rem;
    font-size: 1.2rem;
  }
  &.lightMode {
    & input {
        background-color: rgb(173, 173, 173);
    }
  }
}

.rememberBox {
    display: flex;
    gap: 1rem;
    align-items: center;
    & input[type='checkbox'] {
        width: 1.5rem;
    }
}