@import url('./variables.css');

.nav {
  padding: var(--padding-main);
  width: 100%;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.iconMain {
  margin-right: auto;
  & img {
    width: 10rem;
  }
}

.navListButton {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
  width: 4rem;
  height: 4rem;
  border: none;
  font-size: 2.5rem;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5dvw;
  transition: 1s;
  & svg {
    aspect-ratio: 1;
  }
  &.hidden {
    opacity: 0;
  }
  & svg.darkMode {
    color: white;
  }
}

.navList {
  position: relative;
  z-index: 10;
  width: 400%;
  color: white;
  background-color: #1f1f1f;
  border-radius: 1000rem;
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: fixed; /* Use fixed position */
  top: -400px;
  right: -600px;
  transition: 2s;
}

.navList a {
  color: white;
  width: max-content;
}

.navList.hidden {
  transform: translate(100%, 100%); /* Move it out of the screen */
}

.navListContainer {
  z-index: 100;
  position: fixed;
  display: flex;
  gap: 3rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: ease-in-out, max-height 0.3s ease-in-out;

  &.visible {
    transition-delay: 1.5s;
    transform: translate(0%, 0%);
  }

  &.hidden {
    transform: translate(100%, 100%);
    transition-delay: 0s;
  }
  & .xButton {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: white;
    font-weight: 900;
    color: var(--color-dm-font-m);
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  & button {
    color: white;
    font-size: 2.5rem;
    font-family: nav, sans-serif;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 900;
    border: none;
    z-index: 1000;
  }
  & .loginContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & p {
      font-family: nav, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      & span {
        font-family: main, serif;
        color: var(--color-dm-font-m);
        text-shadow: 0 0 10px var(--color-dm-font-m);
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .navListButton {
    display: none;
  }
  .navListContainer {
    .xButton {
      display: none;
    }
    position: static;
    &.hidden,
    &.visible {
      height: 100px;
      padding: 0;
      transform: translate(0, 0);
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: center;
      padding: 0 1rem;
      button {
        font-size: 1.3rem;
        color: var(--color-font-main);
      }
    }
    .loginContainer {
      p {
        padding: 0;
      }
      .logOutButton {
        position: absolute;
        transition: opacity 0.5s, transform 0.5s;
        left: 60%;
        bottom: 0;
        transform: translateY(-20px);
        opacity: 0;
      }
      &:hover .logOutButton {
        display: block;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  button,
  a {
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      text-shadow: 0 0 10px var(--color-font-main),
        0 0 20px var(--color-font-main), 0 0 30px var(--color-font-main),
        0 0 40px var(--color-font-main);
    }
  }
  img,
  svg {
    transition: 0.5s;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
