@font-face {
  font-family: main;
  src: url('./fonts/main/CormorantGaramond-Light.ttf');
}

:root {
  --color-font-main: #775e11;
  --color-font-secondary: rgb(48, 48, 48);
  --color-background: rgb(255, 255, 255);

  --color-dm-font-m: #c4b998;
  --color-dm-font-sec: rgb(187, 187, 187);
  --color-dm-background: rgb(61, 54, 54);

  --padding-main: 1rem;
}
